main {
    width: 80%;
    background-color: #ffffff;
    border-radius: 1.2rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-container input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

.Container {
    background-color: #F1EFEE;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.Container2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #F1EFEE;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea, select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 16px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #EF7158;
    color: #fff;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #FBD178;
    box-shadow: 0 0 15px rgba(239, 113, 88, 0.5);
}

.calendar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.calendar .weekdays, .calendar .days {
    display: flex;
    justify-content: space-between;
}

.calendar .weekdays .day, .calendar .days .day {
    width: calc(100% / 7);
    text-align: center;
}

.calendar .days .day {
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s;
}

.calendar .days .day:hover {
    background-color: #f90a39;
    color: #fff;
}

#TablaD {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#TablaD th, #TablaD td {
    border: 1px solid #F1EFEE;
    padding: 8px;
    text-align: center;
}

#TablaD th {
    background-color: #E5E0DD;
    color: #AB988D;
}

#TablaD td {
    color: #B19E94;
}
.add-ia{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #ef7158, #ffca9f);
    border-radius: 1.2rem;
    width: 100%;
    margin: 0px 0px;
    text-align: center;
    justify-content: center;
    padding: 10px 40px;
    color: white;
    font-size: large;
    font-weight: 700;
}

